/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/itrc-weathering-banner.jpg");
  --header-bg-color: #231e1925; /** Transparent color if adding header bg-image **/
  --header-font-color: #ffffff;
  --brand-font-size: 1.5rem;
  --title-font-family: "PT Sans",sans-serif;
  --logo-width: 120px;
  --menu-top-bg-color: #231e1990;
  --menu-font-size: 1.1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1.1rem;
  --body-font-family: "PT Sans", sans-serif;
  --footer-bg-color: #231e1915;
  --heading-font-family: "PT Sans", sans-serif;
  --link-color: #581845;
  --darkest-color: #231e19;
  --medium-color: #581845;
  --light-color: #deced7;
  --bright-color: #FFC30F;
  --danger-color: crimson;
  --max-innertext-width: 1024px;
}
